body
{
    margin: 10px 0px 0px 0px;
    padding: 0px;
    font-size: 12px;
}

form, input
{
    margin: 0px;
    padding: 0px;
}


body, input
{
    font-family: 'lucida sans unicode', lucida, helvetica, verdana, arial, sans-serif;
}

body
{
    background-color: #FFFFCC;
    color: #ffffff;
}

input
{
    font-size: 10px;
    font-weight: bold;
    color: #000000;
    
}

.title
{
    margin-left: 3px;
    font-size: 25px;
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
}

.error
{
    font-size: 12px;
    background-color: #F8E6CB;
    color: #000000;
    border-bottom: 1px solid #97CCA8;
}

#container
{
    -moz-border-radius: 20px;
    border: 1px solid #CCCDD7;
    width: 730px;
    margin: auto;
    background-color: #99CC66;
}

#menu
{ 
    -moz-border-radius: 0 30px 0 0;
    border-left: 1px solid #CCCDD7; 
    border-bottom: 1px solid #CCCDD7;
    float: right;
    height: 20px;
    background-color: #ffffff;
    color: #336600;
}

.option
{
    height: 25px;
    border-bottom: 1px solid #ffffff;
    background-color: #7FB24C;
}

.shade
{
    background-color: #E1F3CF;
}

.head
{
    background-color: #A2AACE;
}

a:link, a:visited 
{ 
    color: #8A3545;
    text-decoration: none;
} 

a:hover, a:active 
{
    color: #8A3545;
    text-decoration: underline;
    background-color: transparent;
}