/*
    //This file is part of Password Bolt.

    //Password Bolt is free software: you can redistribute it and/or modify
    //it under the terms of the GNU General Public License as published by
    //the Free Software Foundation, either version 3 of the License, or
    //(at your option) any later version.

    //Password Bolt is distributed in the hope that it will be useful,
    //but WITHOUT ANY WARRANTY; without even the implied warranty of
    //MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    //GNU General Public License for more details.

    //You should have received a copy of the GNU General Public License
    //along with Password Bolt.  If not, see <http://www.gnu.org/licenses/>.
*/
* {padding: 0; margin: 0;}
body
{
/*background-image: url('images/bg.jpg');*/
background-color: black/*#202020/*#666666*/;
text-align:center;
padding-top:5px;
}

#all
{
	
	/*margin:0;*/
	/*position:relative;*/
	width:700px;
	margin: 0 auto;
	
	/*margin-right:auto;*/
	/*margin-left:auto;*/
	text-align:center;
	border: solid black 1px;
	background-color:	#999999;
	background-image: url('images/bg.jpg');
	/*height:700px;*/
	height:auto;
	padding-bottom:10px;
	/*padding:0; */
}
.box
{
	border: solid black 1px;
	background-color:silver;

	padding:0;
	margin:0;
	margin-top:10px;
	/*padding:10px;*/
	/*padding-top:0px;*/

	width:600px;
	margin-right:auto;
	margin-left:auto;

}

#content
{
	text-align:center;
}

#header
{
	background-color:#353535;
	color:white;
}

.headerbar
{
	background-color: #353535	/*#336699*/;
	color:white;
	text-align:center;
	
}

.insidebox
{
	padding:5px;
	text-align:left;
	overflow:hidden;
}

#login
{
	text-align:center;
	
}
img
{  border-style: none;
}

#navbar
{
	text-align:left;
	/*background-color:#353535;
	background-image:url('images/bg.jpg');*/
	color:white;
	height:1.2em;
	padding-left:5px;
	padding-right:5px;
	/*border-top: solid black 1px;
	border-bottom: solid white 1px*/
	}

#navbar a:link, #navbar a:visited
{
	text-decoration: none;
	color:white;
}

#navbar a:hover
{
	color:red;
}

.navlink
{
	border-right: solid white 1px;
	padding-right:5px;
}

.hiddentext
{
	background-color:black;
	color:black;
	word-wrap: break-word;
	overflow: auto;
}

.bigdata

{
	max-width:180px;
	overflow:hidden;
}

.namebox
{
border: solid black 1px; background-color:white; width:400px; max-width:400px; overflow:hidden;
}
