body, td, .normaltext, .windowbg, .windowbg2, .titlebg, .bordercolor, .tborder, .catbg, .catbg2, .windowbg td, .windowbg2 td, .titlebg td
{
	font-size: x-small;
}
.smalltext, td.smalltext, i.smalltext, div.smalltext, .smalltext td, .quote, .quoteheader, .codeheader , .middletext
{
	font-size: xx-small;
}
.code
{
	font-size: xx-small;
}
.largetext
{
	font-size: medium;
}