h1
{
	font-size: 18px;
	margin: 1ex 1ex 1ex 1ex;
}
h2
{
	font-size: 18px;
	border-bottom: solid 1px;
	padding-bottom: 1ex;
}
h3, h4, h5, h6
{
	font-size: 16px;
	margin: 0;
}
p
{
	margin: 0 0 1.5em 0;
}
.board, .board:link
{
	text-decoration: underline;
}
.board:visited, .board:hover
{
	text-decoration: underline;
}
div.footer
{
	text-align: center;
	padding: 3pt;
}
#menu
{
	line-height: 1;
}
#menu p
{
	margin: 0 0 1em 0;
	line-height: 2;
}
table#reference1, table#reference2
{
	border: 1px solid;
}
table#reference1 td, table#reference2 td
{
	vertical-align: top;
	border: 1px solid;
	font-size: x-small;
 }
table#reference1 th, table#reference2 th
{
	font-size: x-small;
}
ol
{
	font-weight: bold;
	list-style-type: square;
	margin-bottom: 2ex;
	margin-top: 3ex;
}
ol.la
{
	font-weight: normal;
	list-style-type: circle;
	margin: 0 0 2ex 4ex;
}
