/*==============================================================================
       GRC.CSS -- master sitewide style sheet -- last updated 07/22/2006
--------------------------------------------------------------------------------		 

Convert img hspace=X and vspace=Y to style="margin:Ypx Xpx"
Convert all &#151; to &#8212;
Convert all &#150; to &#8211;

matching single quotes:		<strong>&#8216;</strong> <strong>&#8217;</strong>
matching double quotes:		&#8220; &#8221;
Bullet:							&#8226;
Pointy Triangle:	 			&#8227;

==============================================================================*/
body { width:100%; height:100%; color:#009; background:white; font-size:10pt; font-family: verdana, tahoma, arial, helvetica, sans-serif, "MS Sans Serif"; }

/* global overrides */
body, img, button, iframe, ul, li, hr  { margin:0; padding:0; border:0; }
table { margin:0; padding:0; text-align:left; font-size:10pt; }

a.external { background: url("/image/external.png") no-repeat 100% 50%; padding-right: 13px; }

#zerosize { width:0; height:0 }	/* used to hide our iframes */
.notbold { font-weight: normal;}

.font7px { font-size:7px }		/* used in spans for tight <br /><br /> tags */
.mono { font-family:"Courier New", Courier, "Lucida Console", monospace }
.parahead { font-size: 110%; font-family: Arial, Helvetica; }

.grcform { background: #f8f8f8; border: #bbb 1px solid; font-family:verdana; font-size:10pt;}
.grctext { border: #d8d8d8 1px solid; background-image: url(/image/formfieldbkgnd.png); padding:3px 5px;	color: #00a; font-family:verdana; font-size:10pt; }

ul { margin:0.75em 0 1em 20px; }       /* kill default 50px left padding and set 20px */
li { margin-bottom:1em; }          /* set default inter-item vertical spacing */

/* our default page-width div */
.pagecontainer { width:85%; text-align:left; font-size:10pt; }
.pagecontainer80 { width:80%; text-align:left; font-size:10pt; }

.banner_image { margin-top:1em; }
.header_container { width:85%; text-align:left; color:#999; font-size:7pt; border-bottom:medium solid #B22; }

.center { text-align:center; }
.underbar { width:90%; color:#666; font-size:smaller; text-align: right; margin:0.25em 0 0.5em 0; }

.repel { display:block;	text-align:right; }   /* this right alignment goes with the float:left below */
								  		/* this simultaneously left and right aligns the text and */
.repel span { float:left; }	/* the >> in the drop-down menus which link to sub-menus */
.regionhead { font-weight:bold; color:#888; margin:0.3em 0.75em 0 0.75em;	}

/* page header fine print styles */
.left_header_fineprint { float:left; }
.right_header_fineprint { float:right; }
.clear_floats { clear:both; }

.text_container { width:85%; text-align:left; font-size:10pt; margin:2em 0; }
.file_summary_container { width:600px; margin:1em 0em; }
.para_heading { font-weight:bold; margin:2em 0 0.5em 0; }
.inset { margin:1em 10%; }

p.overline		{ margin-top:1.5em; padding-top:0.5em; border-top:#888 1px solid; }

/* list tweaks */
ul.tightlist { text-align:left; }
ul.tightlist li { margin-bottom:0.5em; }    /* tighter list for simple bullets */
ul.tighterlist li { margin-bottom:0.1em; }    /* tighter list for simple bullets */
ul.numbered { margin-left:2.5em; list-style-type: decimal; }

ul.verytightlist li { margin:-0.75em 0 1em 0; }

ol.tightlist { text-align:left; }
ol.tightlist li { margin-bottom:0.5em; }    /* tighter list for simple bullets */
ol.tighterlist li { margin-bottom:0.1em; }    /* tighter list for simple bullets */
ol.numbered { margin-left:2.5em; list-style-type: decimal; }

ol.verytightlist li { margin:-0.75em 0 1em 0; }


/* this is a div class for our full-width black-to-white fade bar. */
.blacktowhite { width:100%; height:30px; background:url(/image/fade.gif) repeat-x; }

.fixed_black { color:black; font-family:'Lucida Console','Courier New','Courier'; }

.padded_float_left { float:left; padding:0 1em 0.4em 0; }

.boldindent { padding-left:2em; font-weight:bold; }
.boldpara { margin:1em 0 0.25em 0; }
.smallital { font-size:smaller; font-style: italic; }
.smallandblack { font-size:smaller; color:black; }

.blue_section_heading { color:#006; background:#eef; font-size:12pt; margin:1.5em 0 0.75em 0em; padding:0.1em 0 0.2em 0.4em; border-top:3px solid #b00; }

.smaller_body_text { font-size: smaller; margin-top: 1em; }
.paraleadin { font-size:larger; font-family:Arial; font-weight:bold; }
.pp { margin-top:2em; }

.blue_headline       { color:#039; font-size:12pt; text-align:center; margin: 1em; }
.blue_tight_headline { color:#039; font-size:12pt; text-align:center; margin: 0 0 0.5em 0; }

.red_headline        { color:#900; font-size:12pt; text-align:center; margin: 1em 0; }
.red_tight_headline  { color:#900; font-size:12pt; text-align:center; margin: 0 0 0.5em 0; }

.big_arial_headline { text-align:center; margin-bottom: 1em;  font: 16pt Arial;  }
.black_arial_headline { color:black; text-align:center; margin-bottom: 1em;  font: 14pt Arial;  }
.centered_larger { font-size:larger; text-align:center; margin-bottom:0.25em; }

.faq-q { color:#000; margin:0 0 0.5em 2em; font-style:italic; }
.faq-a { color:#00a; padding:0.5em 1em 1em 2.5em ; margin-bottom:1.5em;  background-color:#eef; border:1px solid #88f; }
.faq-fl { font-weight:bold; font-size:13pt; font-style:italic; margin:0 0.333em 0 -1.5em;}

.attention_box { margin:1.5em 0; padding:1em; background:#ffffcc; border:3px solid #f00; }

.solid_white { color:black; background:#fcfcfc; border:1px solid #999; padding:10px; margin:20px 0 20px 0;}
.tight_white { color:black; background:#fcfcfc; border:1px solid #999; padding:5px 10px; margin:0.4em 0 1.2em 0; font-family:"Courier New", monospace; font-size: larger;}

.bold_red_arial { color:#933; font-weight:bold; font-family:Arial; }
.larger_red_arial { color:#900; font-family:arial; font-size:larger; font-weight:bold; }
.red_centered { color:#900; text-align:center; margin:1.5em 0; }
.larger_red_centered { color:#900; text-align:center; margin:1.5em 0; font-size:larger; }

.bold_red_divider	{ color:#900; font-family:arial; font-size:x-large; font-weight:bold; text-align: center; margin-top: 1.25em; padding-top:0.25em; border-top: #00A solid 4px; }

.bold_red_headline { color:#900; font-family:arial; font-size:x-large; font-weight:bold; text-align: center; margin-top: 1.25em; padding-top:0.25em; }

.tight_solid_white { color:black; background:#fcfcfc; border:1px solid #999; padding:10px; margin:0.5em 0;}

.dotted_green { color:#009; background:#efe; border:1px dashed #060; padding:10px; margin:20px 0 20px 0; }
.dotted_red   { color:#009; background:#fee; border:1px dashed #900; padding:10px; margin:20px 0 20px 0; }
.dotted_blue  { color:#009; background:#eef; border:1px dashed #009; padding:10px; margin:20px 0 20px 0; }

.nice_white_box { color:#00a; padding:0.5em; background-color:#fff; border:1px solid #88f; }
.nice_blue_box { color:#00a; padding:0.5em; background-color:#eef; border:1px solid #88f; }
.nice_lightblue_box { color:#00a; padding:0.5em; background-color:#f8f8ff; border:1px solid #88f; }
.nice_red_box { color:#00a; padding:0.5em; background-color:#fee; border:1px solid #c44; }
.nice_green_box { color:#040; padding:0.5em; background-color:#f8fff8; border:1px solid #8a8; }


.tight {margin:0.5em 0; }
.tight_title {margin:1.5em 0 0.5em 0; }
.tight_center {text-align:center; margin:8px 0; }
.tight_center_bold {text-align:center; font-weight:bold; margin:8px 0; }

.topcentertitle {text-align:center; font-weight:bold; margin:0px 0 0.5em 0;}
.chart_label {font-weight:bold; padding:1em 0 0.25em 0;}
.center_float {text-align:center; margin:20px 0;}
.center { text-align:center; }

.center_em { text-align:center; margin:1em; }

div.linkblock { background:#e8e8ff; border:1px solid #88f; padding:3px; margin:2px 0 1em 0;}
div.linkblock div { padding:2px;}
div.linkblock span { background:#88f; color:#fff; font-weight:bold; }
div.linkblock span span { background:#e8e8ff; color:#000;  font-weight:normal; padding:0 5px;}

.wrap_left { padding:0 1em 0.5em 0; float:left;" }


