RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
#RewriteRule ^/?([^/]*\.html?|[^\./]*)[:;,\.]*$ /index.php [L,NS]

# 1 YEAR
#<FilesMatch "\.(ico|pdf|flv)$">
#Header set Cache-Control "max-age=29030400, public"
#</FilesMatch>
# 1 WEEK
#<FilesMatch "\.(jpg|jpeg|png|gif|swf)$">
#Header set Cache-Control "max-age=604800, public"
#</FilesMatch>
# 2 DAYS
#<FilesMatch "\.(xml|txt|css|js)$">
#Header set Cache-Control "max-age=172800, proxy-revalidate"
#</FilesMatch>

